.products {
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
    justify-content: center;
    padding: 2rem;
}

.sliderAndProducts {
    background-color: red;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}




@media (min-width: 768px) {
    .sliderAndProducts {
        flex-direction: row;
    }
}